<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ai.olami.android">

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
